{% extends "basic.html" %}
{% block content %}
  <h2>Claiming a device</h2>
  {% if not hwaddr %}
    <p class="error">Unknown MAC. Are you sure you're in the hackerspace?</p>
  {% else %}
  You are about to claim <strong>{{ hwaddr }}</strong> as <strong>{{ session.login }}</strong>. Do you wish to continue?
  <table>
    <form action="" method="post">
    <label><tr>
      <td>Device name (optional):</td>
      <td><input type="text" name="name" value="{{ name }}"></td>
    </tr></label>
    <tr>
      <td><input type="submit" value="yes"></td>
      </form>
      <td><a href="/"><button>no</button></button></td>
    </tr>
  </table>
  {% endif %}
{% endblock %}
