{% extends "basic.html" %}
{% block title %}
Now at hackerspace
{% endblock %}
{% block content %}
  <h2>Now at hackerspace!</h2>
  Recently at <a href="http://www.hackerspace.pl">hackerspace</a>:
  <ul>
  {% for user, timestamp in users %}
    <li>
    {% if user.url %}
      <a href="{{ user.url }}">{% endif %}
      {{ user.login }} ({{ timestamp|strfts() }})
      {% if user.url %}</a>
    {% endif %}
    </li>
  {% endfor %}
  </ul>
  {% trans n_unk=unknown|length %}
  There is {{ n_unk }} unknown device operating. 
  {% pluralize %}
  There are {{ n_unk }} unknown devices operating. 
  {% endtrans %}
  <hr>
  <a href="claim">Claim this device!</a>
{% endblock %}
